.card {
  background-color: #404040;
  border-radius: 10px;
  padding: 9px;
  font-family: var(--font-causten);
  font-weight: regular;
  color: #ffffff;
  display: flex;
  gap: 10px;
}

.title {
  font-size: 18px;
}

.subtitle {
  font-size: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}
