.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.check_email {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link_back {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.purple_text {
  color: #8a33fd;
  font-weight: bold;
}
