.signin {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: var(--font-core-sans);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spacer {
  display: flex;
  align-items: center;
  gap: 23px;
  font-weight: regular;
  color: #666666;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn {
  align-self: start;
}
