.title {
  font-weight: bold;
  font-family: var(--font-core-sans);
  display: flex;
  gap: 20px;
  align-items: center;
}

.black {
  color: #333333;
}

.white {
  color: #f6f6f6;
}

.large {
  font-size: 34px;
}

.normal {
  font-size: 28px;
}

.line {
  height: 30px;
  width: 6px;
  border-radius: 10px;
  background-color: #8a33fd;
}
