.input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-causten);
}

.search_container {
  background-color: #f6f6f6;
  border-radius: 8px;
  display: flex;
  padding-left: 10px;
  max-width: 184px;
  align-items: center;
}

.label {
  color: #3c4242;
  font-size: 18px;
}

.input {
  border-radius: 8px;
  padding-left: 10px;
  font-size: 18px;
  color: #3c4242;
}

.input::placeholder {
  font-size: 18px;
  font-family: var(--font-causten);
}

.normal {
  height: 58px;
  border: 1px #3c4242 solid;
}

.normal:focus {
  background-color: #6620c108;
  border: 1px #8a33fd solid;
}
.error {
  color: #ee1d52;
  font-size: 16px;
  /* font-family: var(--font-causten); */
}

.search {
  height: 46px;
  outline: none;
}

.logo {
  order: -1;
}
