.list_container {
  color: #f6f6f6;
  font-family: var(--font-causten);
  font-size: 18px;
  font-weight: medium;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
