.create_password {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
