@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: "Core Sans C";
  src: url("/fonts/CoreSansC-65Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Core Sans C";
  src: url("/fonts/CoreSansC-45Regular.woff2");
  font-weight: regular;
}

@font-face {
  font-family: "Causten";
  src: url("/fonts/Causten Medium.ttf");
}

:root {
  --font-core-sans: "Core Sans C";
  --font-roboto: "Roboto";
  --font-causten: "Causten";
}
/* * {
  box-sizing: border-box;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}
