.wrapper {
  display: flex;
  height: 100%;
}

.imageContainer {
  height: 100%;
  width: 50%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  padding: 60px 80px;
}
