.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-roboto);
  color: #2a2f2f;
}

.white {
  width: 37px;
  height: 37px;
  border-radius: 10px;
}

.grey {
  width: 44px;
  height: 44px;
  border-radius: 8px;
}
