.signin {
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 34px;
  color: #333333;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spacer {
  display: flex;
  align-items: center;
  gap: 23px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn {
  align-self: start;
}
