.button {
  min-width: 140px;
  height: 46px;
  border-radius: 8px;
  padding: 0 22px;
  cursor: pointer;
  font-family: var(--font-causten);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.outline {
  color: #8a33fd;
  border: 1px solid #3c4242;
}

.fullfill {
  background-color: #8a33fd;
  color: white;
}

.small {
  padding: 0;
  min-width: 44px;
  height: 44px;
  background-color: #f6f6f6;
}
