.input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-causten);
}

.input_wrap {
  display: flex;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 18px;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.input_border {
  height: 53px;
  border: 1px solid #3c4242;
}

.input {
  width: 100%;
  height: 100%;
}

.input {
  border-radius: 8px;
  padding-left: 10px;
  font-size: 18px;
  color: #3c4242;
}

input:focus {
  outline: none;
}

.label {
  color: #3c4242;
  font-size: 18px;
}

.input::placeholder {
  font-size: 18px;
  font-family: var(--font-causten);
}

.normal:focus {
  background-color: #6620c108;
  border: 1px #8a33fd solid;
}
.error {
  color: #ee1d52;
  font-size: 16px;
}

.search {
  height: 46px;
  background-color: #f6f6f6;
}

.hideView {
  cursor: pointer;
}
